<ion-view title="Information" id="page2" class=" ">
    <ion-content padding="true" style="background: url(img/mZbLF9jT6I7DKoa1PPAR_bg3.jpg) no-repeat center;background-size:cover;" class="has-header">
        <ion-list id="information-list10" class=" ">
            <ion-item id="information-list-item18" class="  ">Item 1</ion-item>
            <ion-item id="information-list-item19" class="  ">Item 2</ion-item>
            <ion-item id="information-list-item20" class="  ">Item 3</ion-item>
        </ion-list>
    </ion-content>
</ion-view>