<ion-view title="landingScreen" hide-nav-bar="true" id="page10" class=" ">
    <ion-content padding="true" style="background: url(img/U6wd4IQFTxK5f6XxV8AH_bg3.jpg) no-repeat center;background-size:cover;" class=" manual-remove-top-padding">
        <div class="spacer" style="width: 300px; height: 140.976px;"></div>
        <h1 id="landingScreen-heading1" style="color:#C3C3D8;font-weight:lighter;font-style:italic;text-align:center;" class=" ">In4matrX</h1>
        <a ui-sref="login" id="landingScreen-button4" style="border-radius:20px 20px 20px 20px;" class=" button button-positive  button-block ">Sign in</a>
        <a ui-sref="signup" id="landingScreen-button5" style="border-radius:20px 20px 20px 20px;" class=" button button-positive  button-block ">Sign up</a>
    </ion-content>
</ion-view>