<ion-view title="Resources" id="page3" class=" ">
    <ion-content padding="true" style="background: url(img/BuIA2uz7QzmcNYm67EBd_bg3.jpg) no-repeat center;background-size:cover;" class="has-header">
        <ion-list id="resources-list12" class=" ">
            <ion-item id="resources-list-item24" class="  ">Item 1</ion-item>
            <ion-item id="resources-list-item25" class="  ">Item 2</ion-item>
            <ion-item id="resources-list-item26" class="  ">Item 3</ion-item>
        </ion-list>
    </ion-content>
</ion-view>