<ion-view title="Signup" hide-nav-bar="true" id="page6" class=" ">
    <ion-content padding="true" style="background: url(img/Uj29XVE8RpW3FqnZWxuw_bg3.jpg) no-repeat center;background-size:cover;" class="manual-ios-statusbar-padding">
        <div class="spacer" style="width: 300px; height: 134.986px;"></div>
        <form id="signup-form2" class="list ">
            <ion-list id="signup-list2" class=" ">
                <label class="item item-input " id="signup-input3">
                    <span class="input-label">Name</span>
                    <input type="text" placeholder="">
                </label>
                <label class="item item-input " id="signup-input4">
                    <span class="input-label">Username</span>
                    <input type="text" placeholder="">
                </label>
                <label class="item item-input " id="signup-input5">
                    <span class="input-label">Password</span>
                    <input type="text" placeholder="">
                </label>
            </ion-list>
            <a ui-sref="tabsController.information" id="signup-button3" class=" button button-dark  button-block ">Sign up</a>
        </form>
    </ion-content>
</ion-view>