<ion-view title="Updates" id="page4" class=" ">
    taabo
    <ion-content scrolling="false" padding="true" style="background: url(img/R71J7mqRamxb6D3vZoVg_bg3.jpg) no-repeat center;background-size:cover;" class="has-header">
        <ion-list id="updates-list11" class=" ">
            <ion-item id="updates-list-item21" class="  ">Item 1</ion-item>
            <ion-item id="updates-list-item22" class="  ">Item 2</ion-item>
            <ion-item id="updates-list-item23" class="  ">Item 3</ion-item>
        </ion-list>
    </ion-content>
</ion-view>
